  .Services {
    
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
  }
  
  .Services__background {
    width: 100%;
    padding-bottom: 100px;
  }
  
  .Services-container {
    margin: 0;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-bottom: 41px;
  }
  
  .Services__row {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  
  .Services-container>h1 {
    color: #fff;
    font-size: 100px;
  }
  
  .Typewriter {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .clients {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .client {
    padding: 20px;
  }
  
  .client img {
    width: 100%;
    height: 100%;

  }
  
  .clientBtn {
    padding: 0px;
  }
  
  .clientBtn .details {
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    opacity: 0;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #fafafa;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover{
    color: #fff;
    background-color: #fafafa;
    border-color: #6c757d;
    -webkit-transition: .3s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  
  .Services__client__name{
  padding-top: 10%;
  font-weight: bold;
  }
  
  .Services__client__industry{
    font-weight: bold;
    padding-top: 10%;
  }
  
  
  .Services__client__description{
    padding: 10%;
  }
  
  .details:hover {
    background: #ffffff;
    color: black;
    opacity: 0.8;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
  transition: 0.5s ease-in-out;
  
  }
  
  @media screen and (max-width: 960px) {
    .Services-container>h1 {
      font-size: 60px;
      margin-top: -150px;
    }
  
    .Services__client__description{
      padding: 0%;
  
    }
    .details{
      margin-bottom: 41px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Services-container>h1 {
      font-size: 40px;
      margin-top: -100px;
    }
    .Services-container>p {
      font-size: 30px;
    }
  
    .Services__client__description{
      padding: 0%;
    }
    .details{
      margin-bottom: 41px;
    }
  }