body {
  justify-content: center;
  align-items: center;
}

:root {
  --Slider-width: 100vw;
  --Slider-height: 10vh;
  --Slider-elements-displayed: 5;
  --Slider-element-width: calc(var(--Slider-width) / var(--Slider-elements-displayed));
  --Slider-animation-duration: calc(var(--Slider-elements) * 3s);
}

.Slider {
  width: var(--Slider-width);
  height: var(--Slider-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.Slider:before, .Slider:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.Slider:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.Slider:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.Slider-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--Slider-animation-duration) linear infinite;
}
/* .Slider-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--Slider-element-width) * var(--Slider-elements))); }
}
.Slider-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--Slider-element-width);
  max-height: 100%;
  font-size: calc(var(--Slider-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.Slider-content li img {
  width: 100%;
  border: 2px solid #eee;
}

@media (max-width: 600px) {

  :root {
    --Slider-width: 100vw;
    --Slider-height: 16vh;
    --Slider-elements-displayed: 3;
  }
  .Slider:before, .Slider:after { width: 5rem; }
}